---
name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: read
  pull-requests: read

jobs:
  bump-version:
    name: Bump Version
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.bump.outputs.version }}
      skipped: ${{ steps.bump.outputs.skipped }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: jefflinse/pr-semver-bump@v1.7.4
        id: bump
        name: Bump and Tag Version
        with:
          mode: bump
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          require-release-notes: false
          major-label: major
          minor-label: minor
          patch-label: patch
          noop-labels: "dont-release"
          release-notes-prefix: "### RELEASE NOTES"
          with-v: true

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: bump-version
    if: needs.bump-version.outputs.skipped != 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ needs.bump-version.outputs.tag }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ secrets.GPG_FINGERPRINT }}
